table {
  border-collapse: collapse; /* no spacing between cells */
  width: 50%;
  max-width: 100rem;
  margin: 2rem auto;
  table-layout: fixed;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}

th, td {
  border: 1px solid black; /* uniform borders like Excel */
  padding: 0.5rem;
  font-size: 1rem;
}

thead {
  background: linear-gradient(180deg, #307e6c, #2b996d);
  color: #000503;
}

tbody {
  color: #01221b;
}
